body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background: #f5f8fc;
    color: #1a1a1a;
    text-align: center;
}

h1 {
    color: #003b70;
    font-size: 45px;
}

h2 {
    color: #0096a6;
}

p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}
